version: '2.1'
services:

  mysql:
    image: mysql:5.7
    command: "mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci"
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ./mysql-data:/var/lib/mysql

  drupal:
    depends_on:
      - mysql
    image: docker.core.aws.unibet.com/drupal-test/base:latest
    ports:
      - 8080:80
    volumes:
      - ../drupal/modules:/var/www/html/sites/all/modules/custom
      - ../drupal/themes:/var/www/html/sites/all/themes/custom
      - ../drupal/config/extra.settings.php:/var/www/html/sites/default/extra.settings.php
      - ./drupal-files:/var/www/html/sites/default/files
    environment:
      - DRUPAL_DB_NAME=${MYSQL_DATABASE}
      - DRUPAL_DB_USER=${MYSQL_USER}
      - DRUPAL_DB_PASS=${MYSQL_PASSWORD}
      - DRUPAL_DB_HOST=mysql
      - DRUPAL_MEMCACHE_HOST=couchbase
      - DRUPAL_MEMCACHE_PORT=11211

  # Replaced by couchbase-as-memcache
  # memcached:
  #   image: memcached

  couchbase:
    image: couchbase
    ports:
      - 8091-8094:8091-8094
      - 11210:11210
    volumes:
      - ./couchbase-data:/opt/couchbase/var

